body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #061a2f;
    margin: 0;
}
section {
    max-width: 500px;
    margin: 60px auto;
    background: white;
    padding: 24px;
    border-radius: 6px;
}
.main_block {
    margin: auto;
    background-color: rgb(35 53 79);
    max-width: 750px;
    border-radius: 15px;
    height: 90vh;
    margin-top: 5vh;
    padding: 20px;
    font-size: x-large;
}
.page_title_block {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.project_block {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.project_block_header{

}
.project_block_text {

}
.project_block_img {
    
}
.project_block_link {
    
}